<!DOCTYPE html>
<html lang="en">
<head>
<title>Level 3 - Vulnerable Flask Applications</title>
</head>
<body>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sit amet<br>
quam ac lacus ultrices ultrices id quis augue. Aenean blandit lectus at dui<br>
porttitor blandit. Nulla tempor elit in urna dignissim, in faucibus diam<br>
luctus.</p>
<p>Nunc lacinia interdum lectus sodales molestie. Praesent ac nunc sit amet<br>
nisi hendrerit ultricies eu vitae quam. Morbi nec mi dignissim, fringilla<br>
ligula nec, tempus mauris. Etiam a lacus enim. Curabitur a orci accumsan,<br>
vestibulum lorem id, sodales erat.</p>
<p>Look between the lines...</p>
<!--
<h1>key: 1C568915BE2D5C87BFFEFF308D3054346D99C0ACFA424FB375F21DBEF0C9C5D6</h1>
-->
</body>
</html>
